@font-face {
    font-family: 'BinancePlex';
    src: url('BinancePlex-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'BinancePlex';
    src: url('BinancePlex-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'BinancePlex';
    src: url('BinancePlex-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'BinancePlex';
    src: url('BinancePlex-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'BinancePlex';
    src: url('BinancePlex-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'BinancePlex';
    src: url('BinancePlex-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}
